<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness App</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<div class="panel panel-primary">
			<form ng-controller="registerController">
			    <fieldset>
			    	<div class="panel-heading panel-primary"><legend>Register</legend></div>
			    		<div class="panel-body">
			        	<input ng-model="username" type="text" name="username" placeholder="Username">
			        	<input ng-model="password" type="password" name="password" placeholder="Password">
			        	<input ng-model="confirm-password" type="password" name="password" placeholder="Confirm Password">
			        	<input type="submit" ng-click="login()" value="Log In">
			        </div>	
			    </fieldset>
			</form>
		
	</div>		
<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>